<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 自动扫描包 -->
    <context:component-scan base-package="com.xx.spring.rmi.server.service.**" />
    
    <bean id="userService" class="com.xx.spring.rmi.server.service.impl.UserService"></bean>
    
    <bean id="serviceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
    	<property name="serviceInterface" value="com.xx.spring.rmi.server.service.IUserService" />
    	<property name="serviceName" value="userService" />
    	<property name="service" ref="userService" />
    	<property name="registryPort" value="2016" />
    	<property name="servicePort" value="2016" />
    </bean> 

</beans>